<div class="block-header">Category list</div>
<hr>
<div class="category-list">
  <ul>
    <div class="category-container" *ngFor="let category of categories">
      <li
        (click)="activeCategory=category"
        [class.active]="activeCategory==category">
        {{category.name}}
      </li>
      <button class="btn small" data-title="Delete category" (click)="delCategoryBtnClick(category)">X</button>
    </div>
  </ul>
</div>
<button class="btn big" data-title="Add category" (click)="addCategory()">+</button>
